# {{ project_name }}

{{ project_description }}

## References

- [InquirePy](https://inquirerpy.readthedocs.io/en/latest/)
- [Primer on Jinja Templating](https://realpython.com/primer-on-jinja-templating/#use-an-external-file-as-a-template)
