# {{ project_name }}

{{ description }}

## Installation

```bash
python3 -m venv .venv
source .venv/bin/activate
pip install --upgrade pip
pip install invoke flit
invoke install
```

## Usage

Todo: Add usage instructions here.

## Features

- Feature 1
- Feature 2
- Feature 3

## Contributing

Contributions are welcome! Please follow the contribution guidelines.

## Testing

```bash
source .venv/bin/activate
invoke test
```

## License

This project is licensed under the {{ license }} license.

## Acknowledgments

Todo: Add acknowledgments here.

## Contact

Maintainer: {{ author }}
Email: {{ email }}

## References

- [InquirePy](https://inquirerpy.readthedocs.io/en/latest/)
- [Primer on Jinja Templating](https://realpython.com/primer-on-jinja-templating/#use-an-external-file-as-a-template)
